<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Thunderous-Rock-Sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,52}</string>
                <key>spriteSourceSize</key>
                <string>{198,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{1,278},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{44,75}</string>
                <key>spriteSourceSize</key>
                <string>{48,75}</string>
                <key>textureRect</key>
                <string>{{1,201},{44,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spr.png</string>
            <key>size</key>
            <string>{54,341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329146adc0829848a613b957d0d406b9:380dff80195ae58646865bc15dc4a0a1:d8868034c372e8f2be1ca65bef5f7748$</string>
            <key>textureFileName</key>
            <string>spr.png</string>
        </dict>
    </dict>
</plist>
